*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(113, 113, 113);
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 50px;
    margin-top: 30px;
    min-height: 100vh;
}
main {
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#titulo{
    border: 1px solid rebeccapurple;
    text-align: center;
    padding: 10px;
    cursor: default;
}
.container{
    border: 1px solid black;
    padding: 10px;
}
.container2{
    border: 1px solid rebeccapurple;
    padding: 10px;
    width: 500px;
}
input{
    padding: 5px;
    margin-bottom: 5px;
    background: darkslategrey;
    color:burlywood;
}
.placeholder-texto{
    width: 220px;
}
.placeholder-texto::placeholder{
    color:burlywood;
}
.placeholder-texto::selection{
    color: burlywood;
    background-color: darkslateblue;
}
input[type="button"]{
    cursor: default;
}
.quociente{
    text-align: center;
}
p{
    display: inline;
}
.pressed{
    transform: scale(0.95);
}
.texto{
    margin: 1px 50px;
}
a {
    text-decoration: none;
    color:#111;
}
.artigo {
    text-align: center;
}
.artigo-texto:hover, .artigo-texto:focus {
    color: burlywood;
}
@media screen and (max-width: 525px) {
    main {
        width: 305px;
        height: auto;
        min-height: 100vh;
    }
    .container2{
        width: 305px;
        height: auto;
        min-height: auto;
    }
}