*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: dimgray;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-bottom: 50px;
    margin-top: 30px;
    min-height: 100vh;
}
a {
    text-decoration: none;
    color:#111;
}
#titulo{
    width: 500px;
    border: 1px solid rebeccapurple;
    text-align: center;
    padding: 10px;
}
.container{
    width: 500px;
    height: 1600px;
    border: 1px solid black;
    padding: 10px;
}
.placeholder-texto{
    width: 220px;
}
.placeholder-texto::placeholder{
    color:burlywood;
}
.quociente{
    text-align: center;
}
input{
    padding: 5px;
    margin-bottom: 5px;
    background: darkslategrey;
    color:burlywood;
}
p{
    display: inline;
}
.texto{
    margin: 1px 50px;
}
@media screen and (max-width: 525px) {
    #titulo {
        width: 305px;
    }
    .container {
        width: 305px;
        height: auto;
        min-height: 100vh;
    }
}